@import "smart-grid.less";
@import "vars.less";

.reset();

.wrapper{
	.wrapper();
}

/* =============== HEADER =============== */

.main-header {
	max-width: 100%; 
	background-color:  rgba(239, 240, 242, 0.99);
}

.header {
	position: relative;
}

.menu {
	.flex();
	justify-content: space-between;
	padding-top: 5%;
	.to(900px, {
		padding-top: 2%;
	});

	.logo:hover{
		cursor: pointer;		
	}
	
	.burger {
		position: fixed;
		right: 10%;
		z-index: 100;
		align-self: center;
		font-size: 28px;
		color: rgba(0, 0, 0, 0.6);
		&:hover{
			cursor: pointer;
		}
	}
}

.caption-container {
	margin: 13% auto 0;
	padding: 0 15%;	

	.caption{
		font-family: Montserrat;
		color:  #505050;
		text-transform: uppercase;
		font-size: 45px;
		font-weight: 550;
		line-height: 28px;
		letter-spacing: 3px;
		line-height: 1.4;
		text-align: center;
		text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
		.to(992px, {
			font-size: 35px; 
		});
		.to(576px, {
			font-size: 25px; 
		});
		

		span {
			background-color: rgb(179, 242, 239);
			padding: 0 1%;
		}
	}	
}

.btn {
	display: flex;

	.contact-us {		
		background-color: #eff0f2;
		color: black;
		border: 2px solid #7f8081;
		font-family:'Montserrat';
		font-weight: 100;
		font-size: 15px;
		  letter-spacing: 2.16px;
		text-transform: uppercase;
		padding: 10px 20px; 
		cursor: pointer;    
		transition: box-shadow 0.5s, background-color 1s;
		margin: 8% auto 10%;
		.to(720px, {
			margin: 15% auto 10%;
		});
		.to(576px, {
			font-size: 10px; 
		});	
		
		&:hover {
			background-color: rgb(118, 244, 234, 0.5);
			box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
		}
	}
}

.glass {
	position: absolute;
	top: 75%;
	left: 80%;
	.to(720px, {
		display: none;		
	});	
}

/* =============== ABOUT US =============== */

.main-about-us {
	max-width: 100%;
	background-color:  #f8fafa;
}

.page-caption {
	.page-caption();	
}

.page-subcaption {
	.page-subcaption();	
}

.content-about-us {
	.flex();
	box-sizing: border-box;	
	margin-top: 9%;
	padding: 0 100px 70px;
	.to(1140px, {
		flex-direction: column;
	});
	.to(690px, {
		padding: 0 50px 50px;
	});
	.to(420px, {
		padding: 0 20px 30px;
	});	
}

.image-about-us {	
	margin: 0 auto;
	
	.navigation-dots-about-us {
		margin: 30px 0;
		text-align: center;
		color: #d0d0d0;
		font-size: 15px;		
	}

	.fa-circle:hover {
		cursor: pointer;
	}
}

.article-about-us {		
	flex-basis: 380px;
	flex-grow: 1;	
	margin-left: 100px;
	.to(1140px, {
		margin-left: 0;
	});		

	.caption-article {
		.caption-article();
		.to(1140px, {
			text-align: center;
		});		
	}

	.text-article {
		.text-article();
		margin-bottom: 20px;
	}

	h6 {
		margin-bottom: 20px;
		font-family: Merriweather;
		font-size: 17px;
		font-weight: 700;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #3e3f3f;
		.to(650px, {
			font-size: 14px;
		});
		.to(1140px, {
			text-align: center;
		});
	}
	
}

/* =============== FEATURED WORKS =============== */

.main-featured-works {
	max-width: 100%;	
}

.works-items {
	.row-flex();
	justify-content: center;
	margin-top: 9%;
	margin-bottom: 5%;

	.works-item {
		.col();
		.size(4);
		.size-md(4);
		.size-sm(6);
		.size-xs(12);
		box-sizing: border-box;		
		margin-bottom: 15px;
		text-align: center;				
	}
}

/* =============== SERVICES =============== */

.main-services {
	max-width: 100%;
	background-color: rgb(249, 251, 251);
}

.services-items {
	margin-top: 9%;
	margin-bottom: 5%;
}

.items-group {
	.row-flex();
	justify-content: center;
}

.services-item-1 {
	.col();
	.size(7);
	margin-bottom: 15px;
	background-color:  rgba(109, 246, 235, 0.97);
	padding: 4% 6%;

	.caption-item {
		margin-bottom: 20px;
		font-family: Merriweather;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #000000;
		.to(850px, {
			font-size: 16px;
		});
	}

	.content-item {
		font-family: Raleway;
		font-size: 16px;
		color: #000000;
		letter-spacing: 0.8px;
		line-height: 28px;
		.to(850px, {
			font-size: 13px;
		});
	}
}

.services-item-2 {
	.col();
	.size(5);
	margin-bottom: 15px;
	position: relative;
	
	.caption-item {
		margin: 25% 15% 5%;
		.to(900px, {
			margin: 15% 15% 5%;
		});
	}

	.content-item {
		margin: 0 15%;
	}

	.know-more {
		margin: 9% 3% 0 15%;
	}
}

.services-item-3 {
	.col();
	.size(7);
	margin-bottom: 15px;
	position: relative;

	.caption-item {
		margin: 17% 15% 5%;
		.to(900px, {
			margin: 10% 15% 5%;
		});
	}

	.content-item {
		margin: 0 15%;
	}

	.know-more {
		margin: 6% 2% 0 15%;
	}
}

.services-item-4 {
	.col();
	.size(5);
	margin-bottom: 15px;
	position: relative;

	.caption-item {
		margin: 24% 15% 5%;
		.to(900px, {
			margin: 15% 15% 5%;
		});
	}

	.content-item {
		margin: 0 15%;
	}

	.know-more {
		margin: 9% 3% 0 15%;
	}
}

.services-item-5 {
	.col();
	.size(5);
	margin-bottom: 15px;
	position: relative;

	.caption-item {
		margin: 24% 15% 5%;
		.to(900px, {
			margin: 15% 15% 5%;
		});
	}

	.content-item {
		margin: 0 15%;
	}

	.know-more {
		margin: 9% 3% 0 15%;
	}
}

.services-item-6 {
	.col();
	.size(7);
	margin-bottom: 15px;
	position: relative;

	.caption-item {
		margin: 17% 15% 5%;
		.to(900px, {
			margin: 10% 15% 5%;
		});
	}

	.content-item {
		margin: 0 15%;
	}

	.know-more {
		margin: 6% 2% 0 15%;
	}
}

.opacity {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	transition: background-color 0.4s;	
	&:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}
	
	img {
		cursor: pointer;
	}
	
	.caption-item {		
		font-family: Merriweather;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #f9fbfb;
		.to(850px, {
			font-size: 16px;
		});
	}	
	
	.content-item {
		font-family: Raleway;
		font-size: 16px;
		color: #f9fbfb;
		letter-spacing: 0.8px;
		line-height: 28px;
		.to(850px, {
			font-size: 13px;
		});
	}

	.know-more {
		font-family: Raleway;
		font-size: 18px;
		letter-spacing: 0.72px;
		color: #f7f7f7;		
		display: inline-block;
		cursor: pointer;
		.to(850px, {
			font-size: 16px;
		});
	}
}	



/* =============== TEAM =============== */



/* =============== WHAT THEY SAYS =============== */



/* =============== BRANDS =============== */



/* =============== CONTACTS =============== */



/* =============== FOOTER =============== */

