@import "smart-grid.less";
@import "vars.less";

.reset();

.wrapper{
	.wrapper();
}

body {
	position: relative;
}

.btn-up {	
	position: fixed;
	z-index: 500;
	bottom: 70px;
	right: 70px;
	font-size: 30px;
	color: #14BDBD;
	transition: color 0.5s, background-color 0.5s;
	display: none;
	background-color: #505050;
	border-radius: 50%;
	padding: 10px 16px;
	.to(1400px, {
		bottom: 35px;
		right: 35px;
		opacity: 0.5;
	});
	.to(800px, {
		font-size: 20px;
	});
	.to(450px, {
		bottom: 15px;
		right: 15px;
	});

	&:hover {
		cursor: pointer;				
		color: #505050;
		background-color: #14BDBD;
	}
}

/* =============== HEADER =============== */

.main-header {	
	max-width: 100%;
	position: relative; 
	background-color:  rgba(239, 240, 242, 0.99);	
}

.menu {
	position: fixed;
	z-index: 200;
	right: 0;
	left: 0;
	margin: 0 7%;
	.flex();
	justify-content: space-between;	
	background-color: #5f6163;
	.to(1335px, {
		margin: 0;
	});
	.to(670px, {
		justify-content: center;
	});	
	
	.logo {
		margin-top: 3px;
		.to(935px, {
			display: none;
		});
	}
}	

	.nav-tittle {				
		font-family: Montserrat;
		font-weight: 500;
		font-size: 18px;
		margin: 10px;
		color:rgb(239, 240, 242);
		transition: color 0.3s, text-shadow 0.3s;		
		.from(670px, {
			display: none;
		});
		.to(800px, {
			font-size: 14px;
		});
		&:hover {
			cursor: pointer;				
			text-shadow: 2px 2px 4px #000000;
		}				
	}

	.active-nav-tittle {
		color: rgb(118, 244, 234, 0.5);
	}

	.menu-items {		
		.flex();
		justify-content: space-around;
		align-items: center;
		flex-grow: 2;
		.to(670px, {			
			background-color: #5f6163;
			display: inline-block;			
			width: 100%;
			position: absolute;
			top: 30px;			
		});	
		
		.active-item {
			color: rgb(118, 244, 234, 0.5);
			text-shadow: 2px 2px 4px #000000;
		}		
		
		li {
			font-family: Montserrat;
			font-weight: 500;
			font-size: 18px;
			margin: 10px;
			.to(820px, {
				font-size: 14px;
			});
			.to(670px, {
				display: none;
				text-align: center;
			});				

			&:last-child {
				margin-right: 30px;
				.to(670px, {
					margin: 10px;
				});
			}							
		}

		a {
			text-decoration: none;
			color: rgb(239, 240, 242);
			transition: color 0.3s, text-shadow 0.3s;

			&:hover {
				cursor: pointer;				
				text-shadow: 2px 2px 4px #000000;
			}
		}
	}

.caption-container {
	padding: 250px 15% 0;	
	.to(900px, {
		padding: 200px 15% 0;
	});
	.to(576px, {
		padding: 150px 15% 0;
	});
	.to(420px, {
		padding: 100px 15% 0;
	});	

	.caption{
		font-family: Montserrat;
		color: #505050;
		text-transform: uppercase;
		font-size: 45px;
		font-weight: 550;
		line-height: 28px;
		letter-spacing: 3px;
		line-height: 1.4;
		text-align: center;
		text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
		.to(992px, {
			font-size: 35px; 
		});
		.to(576px, {
			font-size: 25px; 
		});
		

		span {
			background-color: rgb(179, 242, 239);
			padding: 0 1%;
		}
	}	
}

.btn {
	display: flex;

	.contact-us {	
		outline: none;	
		background-color: #eff0f2;
		color: black;
		border: 2px solid #7f8081;
		font-family:'Montserrat';
		font-weight: 100;
		font-size: 15px;
		letter-spacing: 2.16px;
		text-transform: uppercase;
		padding: 10px 20px; 
		cursor: pointer;    
		transition: box-shadow 0.5s, background-color 1s;
		margin: 10% auto 15%;		
		.to(720px, {
			margin: 12% auto 10%;
		});
		.to(576px, {
			font-size: 10px; 
		});	
		
		&:hover {
			background-color: rgb(118, 244, 234, 0.5);
			box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
		}
	}
}

.glass {
	position: absolute;
	top: 75%;
	left: 80%;
	.to(720px, {
		display: none;		
	});	
}

/* =============== ABOUT US =============== */

.main-about-us {
	max-width: 100%;
	background-color:  #f8fafa;
}

.page-caption {
	.page-caption();	
}

.page-subcaption {
	.page-subcaption();	
}

.content-about-us {
	.flex();	
	box-sizing: border-box;	
	margin-top: 9%;
	padding-bottom: 60px;
	.to(860px, {
		padding-bottom: 40px;
	});	
	.to(690px, {
		padding: 0 50px 40px;
	});
	.to(420px, {
		padding: 0 20px 30px;
	});	
	
}	

.image-about-us {	
	margin: 0 auto;	
	display: inline-block;
	.to(860px, {
		order: 1;
	});			
}

.article-about-us {		
	flex-basis: 380px;
	flex-grow: 1;	
	padding: 0 10px 0 50px;
	.to(821px, {
		padding: 0 10px 0 10px;
	});
	.to(690px, {
		padding: 0;
	});

	.caption-article {
		.caption-article();
		.to(1140px, {
			text-align: center;
		});		
	}

	.text-article {
		.text-article();
		margin-bottom: 20px;
	}

	h6 {
		margin-bottom: 20px;
		font-family: Merriweather;
		font-size: 17px;
		font-weight: 700;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #3e3f3f;
		.to(650px, {
			font-size: 14px;
		});
		.to(1140px, {
			text-align: center;
		});
	}
	
}

/* =============== FEATURED WORKS =============== */

.main-featured-works {
	max-width: 100%;	
}

.works-items {
	.row-flex();
	justify-content: center;
	margin-top: 9%;
	margin-bottom: 5%;

	.works-item {
		.col();
		.size(4);
		.size-md(4);
		.size-sm(6);
		.size-xs(12);
		box-sizing: border-box;		
		margin-bottom: 15px;
		text-align: center;				
	}
}

/* =============== SERVICES =============== */

.main-services {
	max-width: 100%;
	background-color: rgb(249, 251, 251);
}

.services-items {
	margin-top: 9%;
	margin-bottom: 5%;
}

.items-group {
	.row-flex();
	justify-content: center;
}

.services-item-1 {
	.col();
	.size(7);
	.size-sm(12);
	margin-bottom: 15px;
	background-color:  rgba(109, 246, 235, 0.97);
	padding: 4% 6%;
	.to(720px, {
		padding: 8% 10%;
	});

	.caption-item {
		margin-bottom: 20px;
		font-family: Merriweather;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #000000;				
		.from-to(720px, 850px, {
			font-size: 16px;
		});
		.to(430px, {
			font-size: 16px;
		});
	}

	.content-item {
		font-family: Raleway;
		font-size: 16px;
		color: #000000;
		letter-spacing: 0.8px;
		line-height: 28px;
		.from-to(720px, 850px, {
			font-size: 13px;
		});
		.to(430px, {
			font-size: 13px;
		});
	}
}

.services-item-2 {
	.col();
	.size(5);
	.size-sm(12);
	margin-bottom: 15px;
	position: relative;	
	
	.caption-item {
		margin: 25% 15% 5%;
		.to(900px, {
			margin: 15% 15% 5%;
		});
	}

	.content-item {
		margin: 0 15%;
	}

	.know-more {
		margin: 9% 3% 0 15%;
	}
}

.services-img {
	text-align: center;
}

.services-item-3 {
	.col();
	.size(7);
	.size-sm(12);
	margin-bottom: 15px;
	position: relative;
	.to(350px, {
		min-height: 265px;
	});

	.caption-item {
		margin: 17% 15% 5%;
		.to(900px, {
			margin: 10% 15% 5%;
		});
	}

	.content-item {
		margin: 0 15%;
	}

	.know-more {
		margin: 6% 2% 0 15%;
	}
}

.services-item-4 {
	.col();
	.size(5);
	.size-sm(12);
	margin-bottom: 15px;
	position: relative;

	.caption-item {
		margin: 24% 15% 5%;
		.to(900px, {
			margin: 15% 15% 5%;
		});
	}

	.content-item {
		margin: 0 15%;
	}

	.know-more {
		margin: 9% 3% 0 15%;
	}
}

.services-item-5 {
	.col();
	.size(5);
	.size-sm(12);
	margin-bottom: 15px;
	position: relative;

	.caption-item {
		margin: 24% 15% 5%;
		.to(900px, {
			margin: 15% 15% 5%;
		});
	}

	.content-item {
		margin: 0 15%;
	}

	.know-more {
		margin: 9% 3% 0 15%;
	}
}

.services-item-6 {
	.col();
	.size(7);
	.size-sm(12);
	margin-bottom: 15px;
	position: relative;
	.to(420px, {
		min-height: 300px;
	});

	.caption-item {
		margin: 17% 15% 5%;
		.to(900px, {
			margin: 10% 15% 5%;
		});		
	}

	.content-item {
		margin: 0 15%;		
	}

	.know-more {
		margin: 6% 2% 0 15%;		
	}
}

.opacity {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	transition: background-color 0.4s;	
	&:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}
	
	.caption-item {		
		font-family: Merriweather;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #f9fbfb;
		.from-to(720px, 850px, {
			font-size: 16px;
		});
		.to(430px, {
			font-size: 16px;
		});
	}	
	
	.content-item {
		font-family: Raleway;
		font-size: 16px;
		color: #f9fbfb;
		letter-spacing: 0.8px;
		line-height: 28px;
		.from-to(720px, 850px, {
			font-size: 13px;
		});
		.to(430px, {
			font-size: 13px;
		});
	}

	.know-more {
		font-family: Raleway;
		font-size: 18px;
		letter-spacing: 0.72px;
		color: #f7f7f7;		
		display: inline-block;
		cursor: pointer;				
		.from-to(720px, 850px, {
			font-size: 16px;
		});
		.to(430px, {
			font-size: 16px;
		});

		&:hover {
			color: rgb(109, 246, 235);
		}
	}
}

/* =============== TEAM =============== */

.main-team {
	max-width: 100%;	
}

.team-items {
	.row-flex();
	justify-content: center;
	margin-top: 9%;
	margin-bottom: 5%;
}

.team-item {
	.col();
	.size(4);
	.size-sm(6);
	.size-xs(12);	
	margin-bottom: 15px;
	text-align: center;
}

/* =============== WHAT THEY SAYS =============== */

.main-says {
	max-width: 100%;
	background-color: rgb(249, 251, 251);
}

.says-items {
	margin-top: 9%;
	padding-bottom: 5%;		
	.flex();
}

.says-item {
	.flex();
}

.says-section-1 {	
	margin-right: 10%;
	.to(820px, {
		margin-right: 0;
	});	
	text-align: center;
	flex-grow: 1;	
}

.says-section-2 {
	flex-grow: 100;
	flex-basis: 380px;
	align-self: center;
	display: flex;
	flex-direction: column;	
	
	.says-article {		
		text-align: center;	
		padding: 10% 10%;
		background-color: rgb(235, 236, 238);
	}
	
	.caption-article {
		.caption-article();		
	}

	.text-article {
		.text-article();
	}	
	
}

/* =============== BRANDS =============== */

.main-brands {
	max-width: 100%;
}

.brands {
	padding: 9% 0;
}

/* =============== CONTACTS =============== */

.main-contacts {
	max-width: 100%;
	background: url("../images/tree1.png") no-repeat center;
	background-size: cover;
	height: 570px;
	.to(955px, {
		height: 950px;
	});
	.to(500px, {
		height: 850px;
	});
	.to(370px, {
		height: 750px;
	});		
	position: relative;		

	.contacts-opacity {
		position: absolute;
		max-width: 100%;
		background-color: rgba(255, 255, 255, 0.7);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}	
}

.contacts {
	.flex();
}

.forms {
	background-color: rgba(2, 22, 35, 0.7);
	box-sizing: border-box;	
	flex-basis: 450px;
	flex-grow: 100;
	box-sizing: border-box;
	padding: 3% 3% 3% 3%;
	margin: 3% 1%;

	input[type="text"] {
		display: block;
		width: 95%;
		border: none;
		border-bottom: 1px solid #778289;
		background-color: rgba(2, 22, 35, 0.01);
		padding: 10px;
		outline: none;
		color: #b3bbc0;
		
		&::placeholder {
			color: #b3bbc0;
			font-family: Raleway;
			font-size: 15px;
		}
	}

	textarea {
		display: block;
		width: 95%;
		border: none;	
		border-bottom: 1px solid #778289;
		resize: none;
		color: #b3bbc0;
		background-color: rgba(2, 22, 35, 0.01);
		font-family: Raleway;
		font-size: 15px;
		margin-top: 25px;
		margin-bottom: 50px;
		padding: 10px;
		outline: none;
	}
}

.send-massege {
	background-color: #6eeee4;
	color: black;
	border: none;    
    font-family:'Montserrat';
    font-weight: 500;
    font-size: 15px;
  	letter-spacing: 2.16px;
    text-transform: uppercase;
    padding: 20px 40px; 
    cursor: pointer;
    outline: none; 
	transition: background-color 0.5s, box-shadow 0.5s;
	
	&:hover {
		background-color: rgb(242, 218, 59);
		box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	}
}

.address {
	flex-basis: 450px;
	box-sizing: border-box;
	flex-grow: 1;	
	margin: 3% 1%;
	background-color: rgba(2, 22, 35, 0.7);
	padding: 3% 3% 3% 3%;
	
	.address-1 {
		color: #b3bbc0;
		font-family: Raleway;
		font-size: 15px;
		margin-bottom: 35px;
	}

	.address-2 {
		color: #b3bbc0;
		font-family: Raleway;
		font-size: 15px;
	}
}

.map {
	max-width: 455px;
	margin-top: 25px;
}

/* =============== FOOTER =============== */

.main-footer {
	max-width: 100%;
	background-color: #262b2e;
}

.content-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 7% 0;
	
	h3 {
		font-family: Raleway;
		color: #a6a8a9;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 0.16px;
		margin-bottom: 10px;		
	}

	p {
		color: #a6a8a9;
		opacity: 0.4;
		font-family: Raleway;
		font-size: 16px;	
		letter-spacing: 0.16px;
		text-align: center;
	}
}

.footer-icons {
	margin-bottom: 30px;
}

.footer-icon {
	background-color: #424648;
	color: #969596;
	font-size: 25px;
	cursor: pointer;
	margin: 3px;
}

.fa-pinterest-p {
	padding: 10px 15px;
	margin: 3px;

	&:hover {
		color: #0b1615;
		background-color: #6eeee3;
	}
}

.fa-twitter {
	padding: 10px 12px;
	margin: 3px;

	&:hover {
		color: #0b1615;
		background-color: #6eeee3;
	}
}

.fa-facebook-f {
	padding: 10px 18px;
	margin: 3px;

	&:hover {
		color: #0b1615;
		background-color: #6eeee3;
	}
}

.fa-basketball-ball {
	padding: 10px 12px;
	margin: 3px;

	&:hover {
		color: #0b1615;
		background-color: #6eeee3;
	}
}