body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* =============== HEADER =============== */

.main-header {
  max-width: 100%;
  background-color: rgba(239, 240, 242, 0.99);
}

.header {
  position: relative;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5%;
}

.menu .logo:hover {
  cursor: pointer;
}

.menu .burger {
  position: fixed;
  right: 10%;
  z-index: 100;
  align-self: center;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.menu .burger:hover {
  cursor: pointer;
}

.caption-container {
  margin: 13% auto 0;
  padding: 0 15%;
}

.caption-container .caption {
  font-family: Montserrat;
  color: #505050;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 550;
  line-height: 28px;
  letter-spacing: 3px;
  line-height: 1.4;
  text-align: center;
  text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
}

.caption-container .caption span {
  background-color: #b3f2ef;
  padding: 0 1%;
}

.btn {
  display: flex;
}

.btn .contact-us {
  background-color: #eff0f2;
  color: black;
  border: 2px solid #7f8081;
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  transition: box-shadow 0.5s, background-color 1s;
  margin: 8% auto 10%;
}

.btn .contact-us:hover {
  background-color: #76f4ea;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
}

.glass {
  position: absolute;
  top: 75%;
  left: 80%;
}

/* =============== ABOUT US =============== */

.main-about-us {
  max-width: 100%;
  background-color: #f8fafa;
}

.page-caption {
  text-align: center;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2.28px;
  text-transform: uppercase;
  color: #181818;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8%;
}

.page-subcaption {
  text-align: center;
  font-family: Merriweather;
  font-size: 18px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #5e5f5f;
  margin-top: 15px;
  margin-bottom: 0;
}

.content-about-us {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 9%;
  padding: 0 100px 70px;
}

.image-about-us {
  margin: 0 auto;
}

.image-about-us .navigation-dots-about-us {
  margin: 30px 0;
  text-align: center;
  color: #d0d0d0;
  font-size: 15px;
}

.image-about-us .fa-circle:hover {
  cursor: pointer;
}

.article-about-us {
  flex-basis: 380px;
  flex-grow: 1;
  margin-left: 100px;
}

.article-about-us .caption-article {
  margin-bottom: 20px;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #3e3f3f;
}

.article-about-us .text-article {
  font-family: Raleway;
  font-size: 16px;
  color: #404141;
  letter-spacing: 0.8px;
  line-height: 28px;
  margin-bottom: 20px;
}

.article-about-us h6 {
  margin-bottom: 20px;
  font-family: Merriweather;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #3e3f3f;
}

/* =============== FEATURED WORKS =============== */

.main-featured-works {
  max-width: 100%;
}

.works-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  justify-content: center;
  margin-top: 9%;
  margin-bottom: 5%;
}

.works-items .works-item {
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(33.333333333333336% - 15px);
  box-sizing: border-box;
  margin-bottom: 15px;
  text-align: center;
}

/* =============== SERVICES =============== */

/* =============== TEAM =============== */

/* =============== WHAT THEY SAYS =============== */

/* =============== BRANDS =============== */

/* =============== CONTACTS =============== */

/* =============== FOOTER =============== */

@media screen and (max-width: 1140px) {
  .content-about-us {
    flex-direction: column;
  }

  .article-about-us {
    margin-left: 0;
  }

  .article-about-us .caption-article {
    text-align: center;
  }

  .article-about-us h6 {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .caption-container .caption {
    font-size: 35px;
  }

  .works-items .works-item {
    width: calc(33.333333333333336% - 15px);
  }
}

@media screen and (max-width: 900px) {
  .menu {
    padding-top: 2%;
  }
}

@media screen and (max-width: 720px) {
  .btn .contact-us {
    margin: 15% auto 10%;
  }

  .glass {
    display: none;
  }

  .page-caption {
    font-size: 23px;
  }

  .page-subcaption {
    font-size: 15px;
  }

  .article-about-us .caption-article {
    font-size: 16px;
  }

  .article-about-us .text-article {
    font-size: 13px;
  }

  .works-items .works-item {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 690px) {
  .content-about-us {
    padding: 0 50px 50px;
  }
}

@media screen and (max-width: 650px) {
  .article-about-us h6 {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .caption-container .caption {
    font-size: 25px;
  }

  .btn .contact-us {
    font-size: 10px;
  }

  .works-items .works-item {
    width: calc(100% - 15px);
  }
}

@media screen and (max-width: 420px) {
  .content-about-us {
    padding: 0 20px 30px;
  }
}